* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: var(--first-color);
}

.login {
    width: 100%;
    max-width: 500px;
    min-height: 74vh;
    margin-inline: auto;
    display: flex;
    align-items: center;
}

.login h1 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #1b6ec2;
}

.login .form {
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 10px 20px #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .form .group-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.login .form .group-input input {
    border: 0;
    outline: transparent;
    height: 40px;
    padding-left: 10px;
    border-bottom: 1px solid #eee;
    background-color: #e8f0fe;
}

.login .form .group-input i {
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 1.2rem;
    color: var(--first-color);
}

.remember_me {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-check {
    width: 100%;
    margin-bottom: 10px;
}

.submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit button {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: var(--first-color);
}

@media only screen and (max-width: 600px) {
    .login {
        padding: 20px;
    }
}